#box{
    height: 300px;
    width: 300px;
    background-color: black;
    background-image: url('https://images.pexels.com/photos/15947767/pexels-photo-15947767/free-photo-of-red-panda-in-zoo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    position: fixed;
    right: 0px;
    top: 0px;
}