h1{
    text-align: center;
    font-size: 30px;
}

.paragraph{
    background-color: olive;
}

#para1{
    background-color: black;
    color: white;
}

.cover .paragraph{
    color: yellow;
    background-color: black;
}